.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

.menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu_search {
    font-weight: 700;
}

.menu__item {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.menu__item:visited {
    color: var(--black);
}

.menu__counter {
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    position: relative;
    padding: 5px;
}

.menu__digits {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__digits::before {
    content: '';
    display: inline-block;
    border: 1px solid;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 5px;
}
