body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.refresh {
    margin-top: 50px;
}

.activities {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.card {
    padding: 20px;
    border: 1px solid lightblue;
    border-radius: 10px;
    width: 100%;
}
